%p
  I've started using a new app called Makerble that lets you take control of
  your charitable giving and visualise the direct impact you can make in the world. 
  You choose the causes you care about and Makerble finds relevant projects tailored to your
  interests. Once those projects start making change in the world, you get notified via a
  via a personalised email newsletter or through the Makerble Mobile App which comes out early next year.
  
%p
  There's a growing number of charities using Makerble and while in it's in its pilot stage,
  invitations are scarce, but you can be one of the first to experience it by signing up to
  their waiting list. All you need to do is click the link below to confirm your place,
  and you'll be notified as soon as you're able to join!

%p
  = link_to "Confirm your place", root_url

%p
  See you on Makerble!

%p= @invited_by.name
