<p>Makerble lets you take control
of your charitable giving and visualise the direct impact you can make
in the world. You choose the causes you
care about and Makerble finds relevant projects tailored to your interests.
Once those projects start making change in the world, you get notified
via a personalised email newsletter or through the Makerble Mobile App which comes out early next year.</p> 

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>See you on Makerble!</p>

<p>The Makerble Team</p>
