%p
  Congratulations! You've now registered on the waiting list for access
  to Makerble - the new app that lets you take control of your charitable
  giving and visualise the direct impact you can make in the world.

%p
  You'll be notified by email as soon as you're able to log in
  as a user and experience it for yourself.

%p
  See you there!

%p
  The Makerble Team
