<p>Congratulations! You have now been granted exclusive access to Makerble, 
the new app that lets you take control of your charitable giving and 
visualise the direct impact you can make in the world.</p>

<p>We are a new platform still in our pilot stage, with lots more
charities and projects to be added shortly. We are delighted to be
able to give you a priority invite to become one of our first users –
just click to accept via the link below:</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>See you there!</p>

<p>The Makerble Team</p>
