#change-timeline.masthead
  .container
    #live-notifications-bar
      %h4
        Live notifications bar
    
    %a.previous-slide{href: ''}
      %i.sprites-big-arrow-to-left
    %a.next-slide{href: ''}
      %i.sprites-big-arrow-to-right

    .content
      %h2
        Live Project Update Timeline
        %a.infos{"data-original-title" => "Infos", "data-toggle" => "tooltip", :href => "/checkout", :title => ""}
          %i.icon-info-sign
            
        %ul.inline.update-timeline
          %li
            = link_to nil, :class => "popover-with-html", :title => "12/04/13 - Project name",
              :"data-content" => "<img src='http://placehold.it/240x60&text=Project' /><h5>1 child re-homed</h5><p>#{Faker::Lorem.sentence(10)}</p>" do
              
              .sprites-qualifications
              %p Qualifications
