= link_to destroy_user_session_path, :method => :delete  do
  .sprites-shut-down
= link_to t('layouts.header.faqs'), "#", class: 'help'
= link_to t('devise.invitations.new.header'), new_user_invitation_path, class: 'new-invitation'
